<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div class="sidebar" th:fragment="slidebar">
            <h4>Dashboard</h4>
            <ul>
                <li><a th:href="@{/admin/dashboard}" style="color: white">Home</a></li>
                <li><a href="./profile">Profile</a></li>
                <li><a th:href="@{/admin/viewEmployees}">Manage Employees</a></li>
                <li><a href="./addProduct">Add Product</a></li>
            </ul>
        </div>
</body>
</html>