<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee- Home</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="wrapper">
		<div class="main_content">
			<div th:include="Header::homeheader1"></div>
		</div>
		<div class="info">
			<div>
				<div class="container">
					<p style="color:Red">Something went wrong...</p>
				</div>
			</div>
		</div>
		<!--end of info-->
	</div>
</body>
</html>