<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>WebApp - Update</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
<style type="text/css">
	.invalid-feedback{
		color: red;
		font-weight:400;
	}
</style>
</head>
<body>
	<div class="wrapper">
		<div th:replace="DashboardSlidebar::slidebar"></div>
		<div class="main_content">
			<div th:replace="DashboardHeader::dashboardHeader1"></div>
			<div class="info">
				<div>
					<div class="container">
						<div class="col-md-8">
							<h2
								style="margin-bottom: 2.4%; font-weight: bold; font-style: italic">Update Employee</h2>
							<form th:action="@{/employee/update}" method="POST"
								th:object=${employee}>
								<div class="form-row">
									<input type="hidden" class="form-control" id="id" name="id"
										th:value="*{id}">
								</div>

								<div class="form-row py-1">
									<label>First Name</label> <input type="text"
										class="form-control" id="firstname" name="firstname"
										placeholder="Enter First name" th:value="*{firstname}"
										th:errorClass="is-invalid">
									<div th:if="${#fields.hasErrors('firstname')}"
										th:errors="*{firstname}" class="invalid-feedback"></div>
								</div>

								<div class="form-row py-1">
									<label>Last Name</label> <input type="text"
										class="form-control" id="lastname" name="lastname"
										placeholder="Enter last name" th:field="*{lastname}"
										th:errorClass="is-invalid" required>
									<div th:if="${#fields.hasErrors('lastname')}"
										th:errors="*{lastname}" class="invalid-feedback"></div>
								</div>

								<div class="form-row py-1">
									<label for="emailLabel">Email address</label> <input
										type="email" class="form-control" id="email" name="email"
										th:errorClass="is-invalid" th:field="*{email}"
										placeholder="Enter email" readonly>
									<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="invalid-feedback"></div>
								</div>

								<div class="form-row py-1">
									<label for="mobilenoLabel">Mobile No</label> <input type="text"
										class="form-control" id="mobileno" name="mobileno"
										th:errorClass="is-invalid" th:field="*{mobileno}"
										placeholder="Enter mobileno" required>
									<div th:if="${#fields.hasErrors('mobileno')}"
										th:errors="*{mobileno}" class="invalid-feedback"></div>
								</div>

								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">Update</button>
									<a th:href="@{/admin/viewEmployees}"
										class="btn btn-secondary text-white">Back</a>
								</div>
							</form>
							 <div th:if="${param.success}">
     							<div class="alert alert-info"><strong>[[${param.employeename}]], Record Updated Successfully...!!</strong></div>
						    </div>
						    <div th:if="${errorMsg != null}">
     							<div class="alert alert-info"><strong>[[${errorMsg}]]</strong></div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!--end of info-->
		</div>
	</div>

	<script type="text/javascript">
		window.setTimeout(function() {
			$(".alert").fadeTo(500, 0).slideUp(500, function() {
				$(this).remove();
			});
		}, 4000);
	</script>

</body>
</html>